<app-breadcrumbs></app-breadcrumbs>

<section class=" p-fixed d-flex text-center animated fadeInDown">
    <!-- starts -->
    <div class="auth-fluid">

      <div class="row">
        <div class="col-xs-12">
          <!-- Authentication card start -->
          <div class="form-box sign-card card-body auth-body">
            <form  novalidate id="chform" class="chform md-float-material"
            accept-charset="UTF-8" action="/change-password" autocomplete="on" class="form-horizontal" method="post" >
              <div class="text-center">

              </div>

              <div class="auth-box m-t-0">

                  <img id="profile-img" class="profile-img-card img-circle img-100" src="assets/images/avatar-4.jpg" alt="user-img" />

                     <div class="row m-b-20">
                      <!-- <div class="col-md-12">
                        <h3 class="text-left txt-primary">Sign In</h3>
                      </div> -->
                    </div>
                    <!-- <hr/>  -->
                    <div class="input-group form-inline row">
                        <label for="" class="bold col-5">Current password</label>
                      <input type="password" (keypress)="showIcon()" (blur)="hideIcon()" [type]="passwordType"  name="CurrentPassword" class="form-control"
                      placeholder="Current Password"
                      >

                <i class="{{passwordIcon}} icn" id="icn"  (click)='hideShowPassword()'></i>

                      <span class="md-line"></span>
                    </div>





                    <div class="input-group row">
                        <label for="" class="bold col-5">New password</label>

                      <input type="password" class="form-control" placeholder="Password">
                      <i class="{{passwordIcon}} icn"   (click)='hideShowPassword()'></i>
                      <span class="md-line"></span>
                    </div>





                    <div class="input-group row">
                        <label for="" class="bold col-5">Repeate password</label>

                      <input type="password" class="form-control col-7" placeholder="Repeate Password">

                      <i class="{{passwordIcon}} icn"   (click)='hideShowPassword()'></i>

                      <span class="md-line"></span>
                    </div>



                    <div class="row m-t-30">
                        <div class="col-md-12">
                          <button type="submit" class="btn pass-btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Change Password </button>
                        </div>
                      </div>

                    </div>





            </form>
          </div>
        </div>
      </div>
    </div>

</section>
