<div class="row">
    <div class="col-sm-12">
      <!-- Basic table card start -->
      <!-- <app-card [title]="'Product table'" [classHeader]="true" [blockClass]="'table-border-style'"> -->
          <div class="card ">

              <div class="card-header text-white bg-primary">
                  <h4 class="card-title text-white">Orders</h4>

                  <div class="pull-right text-white cont ">

                    <button  class="clickable filter btnn btn btn-sm btn-default"  data-container="body">

                      <i class="fa fa-filter"></i>
                      Fillter
                    </button>




                    </div>

                </div>




      <div class="table-responsive table-hover table-sm table-striped" style="padding:0;">
        <table class="table" id="OrderTable">
          <thead>
          <tr class = "text-center">
            <th>#</th>
            <th>#</th>
            <th>#</th>

            <!-- <th *ngFor = "let head of tableHeader">{{head}}</th> -->
            <th ><em class="fa fa-cog"></em></th>
          </tr>
          </thead>
          <tbody>
            <tr  align="center">
              <td>1</td>
              <td>IphoneX</td>
              <td>50</td>




              <!-- last cell -->
              <td align="center">
                <a class="btn cus-btn  btn-default"  data-toggle="modal" data-target="#exampleModal" ><em class="fa fa-pencil"></em></a>
                <a class="btn cus-btn clickable btn-danger"><em class="fa fa-trash"></em></a>
              </td>

            </tr>
          </tbody>

        </table>


        </div>


          </div>



    </div>
  </div>
